.breadcrumb {
  width: 100%;
  padding: 3rem 0;
  background: #4fbfe6;

  .container {
    display: flex;
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #27293d;
    transition: color 0.2s ease-in-out;
    font-weight: 400;
    font-size: 18px;
    font-family: Poppins, sans-serif;

    &:hover {
      color: #88454f;
    }

    svg {
      color: #27293d;
      margin: 0 0.4rem;
    }

    &:last-child {
      pointer-events: none;
    }
  }
}

body.light {
  .breadcrumb {
      background: #1e2538;
    a {
      color: #fdfdfd;

      &:hover {
        color: #f16a68;
      }

      svg {
        color: #fdfdfd;
      }
    }
  }
}
