.sweet_alert_wrapper {
  z-index: 10;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  padding: 0.5rem;

  .backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 10;
  }

  .sweet_alert {
    height: 400px;
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.64);
    border-radius: 5px;
    padding: 1rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    animation: showSweetAlert 0.3s;
    z-index: 1001;

    .buttons {
      width: 100%;
      margin-top: auto;
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;

      button {
        width: 150px;
        border: 1px solid red;
        padding: 0.5rem 0;
        border-radius: 5px;
        cursor: pointer;
        outline: none;

        &.success {
          border: 1px solid #66bb6a;
          background: #66bb6a;
          color: #fff;
          box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
          margin-left: auto;
          transition: box-shadow 0.125s ease-in;

          &:hover {
            box-shadow: none;
          }
        }
      }

      @media (max-width: 400px) {
        flex-direction: column;

        button {
          width: 100%;

          &:nth-child(1) {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}

@keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
  }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
