.alert-wrapper {
  position: relative;
  margin: 2.5rem 0;

  .alert {
    width: 100%;
    border-radius: 0.2857rem;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 1);
    color: #fff;
    padding: 0.9rem 1.25rem;
    animation: show 0.3s ease-in-out forwards;

    &.hiding {
      animation: hide 0.3s ease-in-out forwards;
    }

    &.success {
      background: #00bf9a;
    }

    &.error {
      background: #f27474;
    }

    &.warning {
      background: #ff9f89;
    }

    &.info {
      background: #4fbfe6;
    }

    button {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 50%;
      transform: translateY(-50%);
      right: 5px;
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 20px;
      color: #fff;
    }
  }
}

@keyframes show {
  0% {
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-20%);
    opacity: 0;
  }
  20% {
    position: relative;
    transform: translateY(-10%);
    opacity: 0.6;
  }
  100% {
    position: relative;
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    position: relative;
    transform: translateY(0%);
    opacity: 1;
  }
  20% {
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0.5;
    transform: translateY(-30%);
  }
  100% {
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    transform: translateY(-40%);
  }
}

body.light {
  .alert {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  }
}
